/* Base styles */
/*_____________*/
html, body {
    margin: 0;
    padding: 0;
    font-size: .85rem;
 }
 body > * {
    box-sizing: border-box;
    font-family: 'Open Sans';
 }
 h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    text-transform: capitalize;
 }
 ul, p {
    margin: 0;
 }
 p {
    line-height: 1.5;
 }
/* Phone frame styles */
/*____________________*/
*::-webkit-scrollbar {
     width: 0 !important
}
body {
    padding: 30px;
}
.phone-frame {
    /* iPhone */
    background-image: url('./images/iphone-frame.png');
    /* Google Pixel */
    /* background-image: url('./images/pixel-frame.png'); */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
}
.device-container {
    max-width: 250px; /*adjust based on frame width*/
    height: 533px; /*adjust based on frame height*/
    padding-top: 44px; /*adjust based on notch height*/
    margin: 0 auto;
    overflow: scroll;
    cursor: pointer;
}
/* My app styles */
/*_______________*/
section {
    margin-top: 60px;
    padding: 15px;
}